@using Agro_Express.Dtos.User
@using Agro_Express.Dtos
@model BaseResponse<IEnumerable<UserDto>>
    @if(Model.Data.Count() == 0)
    {
        <h4 style="color: red;">No Pending Registration</h4>
    } 
    <h4>All Pending Requests (@Model.Data.Count())</h4>

     @foreach (var item in Model.Data)
    {
            <div class="app-user">
        <div style="height:17rem !important" class="user-body">
            <div class="user-detail">
                <div><span class="user-font">Name: </span> <span class="user-font">@item.Name</span></div>
                 <div><span class="user-font">User name: </span> <span class="user-font">@item.UserName</span></div>
                <div><span class="user-font">Role: </span> <span class="user-font">@item.Role</span></div>
                 <div><span class="user-font">Gender: </span> <span class="user-font">@item.Gender</span></div>
                 <div><span class="user-font">Number: </span> <span class="user-font">@item.PhoneNumber</span></div>
                <div><span class="user-font">State: </span> <span class="user-font">@item.State</span></div>
                 <div><span class="user-font">LGA: </span> <span class="user-font">@item.LocalGovernment</span></div>
                
                       <div style=" margin-bottom: 1rem; margin-left: 1.5rem !important; margin-right: 1.6rem !important;" class="partial-sign">
                        <a class="partial-sign2" style="padding:0.2rem 2.4rem !important;color: white !important; font-weight: bolder;text-align: center;" class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="VerifyUser" asp-route-userEmail="@item.Email">Verify</a>
                         </div>

    

               
            </div>
        </div>
    </div><hr>
    } 