@using Agro_Express.Dtos.Buyer
@using Agro_Express.Dtos
@model BaseResponse<IEnumerable<BuyerDto>>

     @if(Model.Data.Count() == 0 )
    {
        <h4>No buyer Found 🙄</h4>
    } 
       @if(@TempData["error"] != null)
    {
        <h4>@TempData["error"]</h4>
    } 

      <form asp-controller="Buyer" asp-action="SearchBuyer">
                  <br> <div class="search-body">
        <div class="search-input"><input name="searchInput" class="search-search" type="text" placeholder="username or email"> <button type="submit" id="completed-task" class="fabutton"><i class="fa-solid fa-magnifying-glass"></i></button>  </div><br>
    </div>
    </form>

    <h4>Searched Buyer (@Model.Data.Count())</h4>

     @foreach (var item in Model.Data)
    {
            <div class="app-user">
        <div class="user-body">
            <div class="user-picture"><img style="width:150px;height:150px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@item.ProfilePicture))" alt="user Picture"></div>
            <div class="user-detail">
                <div><span class="user-font">Name: </span> <span class="user-font">@item.Name</span></div>
                 <div><span class="user-font">User name: </span> <span class="user-font">@item.UserName</span></div>
                <div><span class="user-font">Role: </span> <span class="user-font">@item.Role</span></div>
                 <div><span class="user-font">Gender: </span> <span class="user-font">@item.Gender</span></div>
                 <div><span class="user-font">Number: </span> <span class="user-font">@item.PhoneNumber</span></div>
                <div><span class="user-font">State: </span> <span class="user-font">@item.State</span></div>
                 <div><span class="user-font">LGA: </span> <span class="user-font">@item.LocalGovernment</span></div>
                   @if(item.IsActive == true)
                        {
                            
                       <div style=" margin-bottom: 1rem; margin-left: 1.5rem !important; margin-right: 1.6rem !important;" class="partial-sign">
                        <a class="partial-sign2" style="padding:0.2rem 2.4rem !important;color: white !important; font-weight: bolder;text-align: center;" class="nav-link text-dark" asp-area="" asp-controller="Buyer" asp-action="DeleteBuyer" asp-route-buyerEmail="@item.Email">Delete</a>
                         </div>
                        }
                        else
                        {
                            <div><span class="user-font">Status: </span> <span style="color:red;" class="user-font">Not Active</span></div>
                              <div style=" margin-bottom: 1rem; margin-left: 1.5rem !important; margin-right: 1.6rem !important;" class="partial-sign">
                        <a class="partial-sign2" style="padding:0.2rem 2.4rem !important;color: white !important; font-weight: bolder;text-align: center;" class="nav-link text-dark" asp-area="" asp-controller="Buyer" asp-action="DeleteBuyer" asp-route-buyerEmail="@item.Email">Add back</a>
                         </div>
                        }
               
            </div>
        </div>
    </div><hr>
    } 



