@using Agro_Express.Enum
@using Agro_Express.Dtos.Buyer
@using Agro_Express.Dtos
@model BaseResponse<BuyerDto>
 <form enctype="multipart/form-data" asp-action="UpdateBuyer" method="post">
   @if(TempData["success"] != null)
             {
                <h2>@TempData["success"]</h2>
               }
            @if(TempData["error"] != null)
             {
                <h2 style="color:red">@TempData["error"]</h2>
               }
   <div class="form-container">
    <div class="form-head"><span class="reg-form">Update Form</span></div>

        <div class="camp"> <span class="form-icon"><i class="fa-solid fa-file-signature fa-beat"></i></span> <span class="form-input">  <input class= "input" asp-for="@Model.Data.Name" name = "Name" type="text" placeholder="Name" required/></span> </div><br>

        <div class="camp"> <span class="form-icon"><i class="fa-solid fa-user fa-beat"></i></span> <span class="form-input">  <input class= "input" asp-for="@Model.Data.UserName" name = "UserName" type="text" placeholder="User name" required/></span> </div><br>

         <div class="camp"> <span class="form-icon"><i class="fa-solid fa-location-dot fa-beat"></i></span> <span class="form-input">  <input class= "input" asp-for="@Model.Data.FullAddress" name = "FullAddress" type="text" placeholder="Full address" required/></span> </div><br>

        <div class="camp"> <span class="form-icon"><i class="fa-sharp fa-solid fa-location-pin fa-beat"></i></span> <span class="form-input">  <select class= "input" asp-for="@Model.Data.LocalGovernment" name = "LocalGovernment" asp-items="Html.GetEnumSelectList<LocalGovernment>()"></select></span> </div><br>

         <div class="camp"> <span class="form-icon"><i class="fa-solid fa-flag-usa fa-beat"></i></span> <span class="form-input">  <select class= "input" asp-for="@Model.Data.State" name = "State" asp-items="Html.GetEnumSelectList<State>()"></select></span> </div><br>

        <div class="camp"> <span class="form-icon"><i class="fa-solid fa-venus-mars fa-beat"></i></span> <span class="form-input">  <select class= "input" asp-for="@Model.Data.Gender" name = "Gender" asp-items="Html.GetEnumSelectList<Gender>()"></select></span> </div><br>

        @* <div class="camp"> <span class="form-icon"><i class="fa-solid fa-envelope fa-beat"></i></span> <span class="form-input">  <input class= "input" asp-for="@Model.Data.Email" name = "Email" type="email" placeholder="Email" required/></span> </div><br> *@

        <div class="camp"> <span class="form-icon"><i class="fa-solid fa-lock fa-beat"></i></span> <span class="form-input">  <input class= "input" name = "Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" placeholder="Password(6 character with number and capital letter)"/></span> </div><br>

        <div class="camp"> <span class="form-icon"><i class="fa-sharp fa-solid fa-phone-volume fa-beat"></i></span> <span class="form-input">  <input class= "input" asp-for="@Model.Data.PhoneNumber" name = "PhoneNumber" type="text" placeholder="Phone number" required/></span> </div><br>
       
       
    </div>
    <div class="form-bottom"> <input class="submit-form" type="submit"> </div>
    </div>
    </form>