@using Agro_Express.Dtos
@using Agro_Express.Dtos.Product
@model BaseResponse<IEnumerable<ProductDto>>
@{
    ViewData["Title"] = "Farm Products Around You";
}          
<h1>@ViewData["Title"]</h1>
              

               @if(Model.Data.Count() == 0)
               {
                  <h2 style="color:red">No product found</h2>
               }
             <form asp-controller="Product" asp-action="SearchProduct">
                 <br> <div class="search-body">
        <div class="search-input"><input name="searchInput" class="search-search" type="text" placeholder="input product name or farmer username or email"> <button type="submit" id="completed-task" class="fabutton"><i class="fa-solid fa-magnifying-glass"></i></button>  </div><br>
    </div>
    </form>
               @foreach (var product in Model.Data)
               {
                 var date = @product.AvailabilityDateFrom.ToString();
                 string dateFrom = date.Substring(0,9);
                    var date2 = @product.AvailabilityDateTo.ToString();
                 string dateTo = date2.Substring(0,9);
                
               
<div class="bodyyy">
        <div class="content">
            <main>
                <img id="profilePicture" alt="product" width="300vw" height="190vh" object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@product.FirstDimentionPicture))">
                <img id="profilePicture" alt="product" width="300vw" height="190vh" object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@product.SecondDimentionPicture))">
                <img id="profilePicture" alt="product" width="300vw" height="190vh" object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@product.ThirdDimentionPicture))">
                <img id="profilePicture" alt="product" width="300vw" height="190vh" object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@product.ForthDimentionPicture))">
            </main><br>
            <div class="first"> <span class="title">@product.ProductName</span><span class="price">â‚¦@product.Price/@product.Measurement</span> </div>
            <div class="second"> <span>Quantity</span><span class="sec">@product.Quantity<span class="sec">@product.Measurement (s)</span> </span> </div>
            <div class="second"> <span>Location</span><span class="sec">@product.ProductState/@product.ProductLocalGovernment</span> </div>
            <div class="third"> <span>Availability</span><span class="date">@dateFrom - @dateTo</span> </div>
            @if(product.FarmerRank < 3)
            {
                      <div class="third"> <span>Farmer Rank(<i class="fa-solid fa-star"></i>)</span><span class="date"><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span> </div>
            }
            @if(product.FarmerRank >= 3 && product.FarmerRank <= 6)
            {
                      <div class="third"> <span>Farmer Rank(<i class="fa-solid fa-star"></i>)</span><span class="date"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span> </div>
            }

            @if(product.FarmerRank >= 7 && product.FarmerRank <= 10)
            {
              <div class="third"> <span>Farmer Rank(<i class="fa-solid fa-star"></i>)</span><span class="date"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span> </div>
            }
              @if(product.FarmerRank >= 11 && product.FarmerRank <= 14)
            {
             <div class="third"> <span>Farmer Rank(<i class="fa-solid fa-star"></i>)</span><span class="date"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></span> </div>
            }
              @if(product.FarmerRank >= 15 && product.FarmerRank <= 18)
            {
               <div class="third"> <span>Farmer Rank(<i class="fa-solid fa-star"></i>)</span><span class="date"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i></span> </div>
            }
              @if(product.FarmerRank >= 19)
            {
               <div class="third"> <span>Farmer Rank(<i class="fa-solid fa-star"></i>)</span><span class="date"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span> </div>
            }
             


             <div>

        <div class="product-choice">
            <form asp-action="ThumbUp" asp-controller="Product">
            <div><input type="submit"  asp-action="ThumbUp" asp-controller="Product" asp-route-productId= "@product.Id" value="ðŸ‘ "/><span  style="font-size: smaller;"> : @product.ThumbUp</span></div>
            </form>

             <form asp-action="ThumbDown" asp-controller="Product">
            <div><input type="submit"  asp-action="ThumbDown" asp-controller="Product" asp-route-productId= "@product.Id" value="ðŸ‘Ž "/><span style="font-size: smaller;"> : @product.ThumbDown</span></div>
            </form>      

            <form asp-action="CreateRequest" asp-controller="RequestedProduct">
                <div><input type="submit" value="Buy" asp-action="CreateRequest" asp-controller="RequestedProduct" asp-route-productId= "@product.Id"/></div>
            </form>
            
          </div>
       </div>
        </div> 
        <br>
    </div>
    
               }

 
    
   